doctype html
html

  head
    include head.pug
  body
    header.box
      .wrap
        h1 Feel Free to Call Me
        p Call me at this number
        h2 
          a(href="phone:7029830653")
            | 702 
            span - 
            | 983 
            span - 
            | 0653
        p at these times
        .rounded
        p Subscribe to my availability here.
        .icons
          a.icon.icon__facebook(href="https://www.facebook.com/lsorese")
          a.icon.icon__twitter(href="https://twitter.com/logibear")
          a.icon.icon__reddit(href="https://www.reddit.com/r/feelfreetocallme")
    .box
      .wrap
        p We can talk for 5 minutes or we can talk for hours. I promise to give you at least half an hour of my time.
        p Call me if we’ve never spoken before or if we haven’t spoken in a decade or if you used to hate me or you’re my best friend we or share blood relatives.
        p We can talk about anything you want. We can talk about happy things. We can talk about bummers. 
        p Please, feel free to call me.
    .box.box__pattern.box__smaller
      .wrap
        h3 Who am I calling?
        p My name’s Logan. I’m a 20-something living on the West Coast of the US. I like music, horror movies, and people.
    include foot.pug
